
/*positions the H1 tag to center of page*/
h1 {
	position: absolute;
	right: 40%;
	top:10%;
	color: #FF00FF;
	text-align: center;
	word-spacing: 10px;
}
/*positions the input and button to center of page*/
div {
	position: absolute;
	right: 42%;
	top: 25%;
}

/*positions & styles the button pink*/
button {
	margin-left: 30%;
	margin-top: 5%;
	color: #FF00FF;
	position: relative;
	top: 15px;
	right:9%;
}
p {
	color: black;
	text-align: center;
	font-size: large;	
}

p {
    position: relative;
    top: 65px;
 }
img#img {
    position: relative;
    top: 45px;
    left: 30px;
}

a {
    color: white;
    position: relative;
    left: 45%;
    top: 65px;
}

